<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="generate_reports.Listeners"></listener>
	</listeners>
	<test thread-count="5" name="Test">
		<parameter name="browser" value="Edge"></parameter>
		<classes>

			<!-- 			
<class name="testscripts.AdminUsersTest">
<methods>
	<include name="verifyIfNewAdminCanBeAddedWithValidCredentials"></include>
</methods>
</class>

<class name="testscripts.ManageNewsTest">
<methods>
	<include name="verifyThatUserCanCreateNewsSuccessfully"></include>
</methods>
</class> 

<class name="testscripts.ManageContactTest">
<methods>
	<include name="verifyThatAdminCanEditManageContactDetails"></include>
	<exclude name="checkWhetherUpdateButtonIsEnabled"></exclude>
</methods>
</class>

<class name="testscripts.SubCategoryTest">
<methods>
	<include name="verifyThatTheAdminCanAddProduct"></include>
</methods>
</class>

<class name="testscripts.ManageFooterTextTest">
<methods>
	<include name="verifyThatAdminCanEditTheDetails"></include>
	<exclude name="checkWhetherUpdateButtonIsPresent"></exclude>
</methods>
</class>

<class name="testscripts.LoginTest">
<methods>
	<include name="verifyIfTheAdminCanLoginWithValidCredentials1"></include>
	<exclude name="verifyIfTheAdminCanLoginWithValidCredentials2"></exclude>
	<include name="verifyIfTheAdminCanLoginWithValidCredentials3"></include>
	<exclude name="verifyIfTheAdminCanLoginWithValidCredentials4"></exclude>
</methods>
</class>
-->
			<class name="testscripts.LogoutTest">
				<methods>
					<include name="checkWhetherAdminCanLogoutSuccessfully"></include>
				</methods>
			</class>

			<!-- 
<class name="testscripts.ManageProductTest">
<methods>
	<include name="checkThatAdminCanDeleteAProduct"></include>
</methods>
</class>
-->

		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
